{% extends 'index.html' %}

{% block title %} Register {% endblock %}

{% block body %}
  <form class="container col-6 mx-auto card p-3 shadow-lg" style="margin: 80px;" method="post">
   {% csrf_token %}

  <p><h3>Register</h3></p>
  <hr>
  {% if messages %}
  {{message.tags}}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    
    <strong> {{message}}</strong>
      {% endfor %}
    
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {% endif %}
  </div>
      
    <div class="mb-3" >
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input required type="text" name="first_name" class="form-control">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Last Name</label>
      <input required type="text" name="last_name" class="form-control">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input required type="text" name="username" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
      <input required type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <p>Already have an account? <a href="{% url 'login' %}">LogIn</a></p>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>

{% endblock %}